/.vscodeignore
src/**
esbuild.js
tsconfig.json
eslint.config.mjs
.gitignore

# Test- und Build-Artefakte
.vscode/**
.vscode-test/**
node_modules/**
out/
*.vsix
*.log
*.map

# Projektspezifische Dateien
.github/**
vsc-extension-quickstart.md
*.lock

# Systemdateien
.DS_Store
thumbs.db